$purple_dark: #441BD3;
$purple: #5A30F0;
$light_purple: #897DF2;
$purple_10p: rgba($color: $purple, $alpha: 0.1);
$pink_background: #F8F4FE;

$red: #FD4D59;

$turquoise: #09CDC8;
$turquoise_text: #04BCB7;

$black: #404040;
$text_secondary: #636C81;
$grey_middle: #818E9F;

$light_grey: #F3F6FB;
$middle_grey: #E2E8F0;

$white: white;

// SETTINGS
$font-face: 'TTTravels';

$trs: 0.2s all;

// PROJECT

$top_header_height: 70px;