@import './variables';
@import './mixins';
@import './typography/import';
@import './elements/import';
@import './helpers';
@import './keyframes';
@import './core';

* {
  box-sizing: border-box;
  outline: rgba($color: #000000, $alpha: 0);
  font-family: $font-face, sans-serif;
  color: $black;

  &::selection {
    background-color: $purple;

    color: $white;
  }
}

html {
  height: 100%;

  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: {
    top: $top_header_height;
  };
}

img {
  object-fit: cover;

  user-select: none;
}

a {
  text-decoration: none;

  transition: $trs;
}

img {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
small,
button,
ol,
ul {
  margin: 0;
  padding: 0;
}

b {
  color: inherit;
}

ol,
ul,
nav {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  background: none;
  border: none;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}